body {
    background-color: rgb(51,38,28)
}
h1, p {
color: rgb(108,98,120)
}
.card {
    background-color: rgb(46,27,13); /* Darker tone */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    border-radius: 10px;
}
